JIRA_SERVER=https://virginia-its.atlassian.net
JIRA_EMAIL=YOUR_EMAIL
JIRA_API_TOKEN=YOUR_TOKEN
JIRA_PROJECT_KEY=SUP

OPENWEBUI_URL=http://localhost:3000
OPENWEBUI_API_KEY=YOUR_KEY
OPENWEBUI_KB_ID=YOUR_KB_ID
